<div class="no-posts">
No ads found
</div>

<table class="posts-table">
  <thead>
    <tr>
      <th>title</th>
      <th>price</th>
      <th>location</th>
    </tr>
  </thead>

  <tbody>
    <% posts.each(function(post) { %>
      <tr>
        <td class="post-title-data"><a href="#<%= post.url() %>"><%= post.escape('title') %></a></td>
        <td class="post-price-data"><%= post.escape('price') %></td>
        <td class="post-location-data"><%= post.escape('city') + ", " + post.escape('region') %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
