<% unless defined? action %>
  <% action = request.fullpath %>
<% end %>

<form class="search" action="<%= action %>" method="get">
  <label for="search-keywords">Keywords</label>
  <input id="search-keywords" type="search" value="" name="keywords">

  <fieldset class="search-price">
    <legend>price</legend>
    <input class="search-price-min" type="text" value="" name="min_price" placeholder="min">
    <input class="search-price-max" type="text" value="" name="max_price" placeholder="max">
  </fieldset>

  <button>Search</button>
</form>
