<% unless defined? action %>
  <% action = request.fullpath %>
<% end %>

<form class="search" action="<%= action %>" method="get">
  <label for="search-keywords">Keywords</label>
  <input id="search-keywords" type="search" value="" name="search[keywords]">

  <button>Search</button>
</form>
