<% unless defined? action %>
  <% action = request.fullpath %>
<% end %>

<form class="search" action="<%= action %>" method="get">
  <label for="search-keywords">Keywords</label>
  <input id="search-keywords" type="search" value="" name="keywords">

  <label for="search-min-price">minimum price</label>
  <input id="search-min-price" class="search-price-min" type="text" value="" name="min_price" placeholder="min">

  <label for="search-max-price">maximum price</label>
  <input id="search-max-price" class="search-price-max" type="text" value="" name="max_price" placeholder="max">

  <button class="search-button">Search</button>
</form>
