<% unless defined? action %>
  <% action = request.fullpath %>
<% end %>

<form class="search" action="<%= action %>" method="get">
  <label for="search-keywords">Keywords</label>
  <input id="search-keywords" type="search" value="" name="keywords">

  <fieldset>
    <legend>price</legend>
    <input type="text" class="text" value="" name="min_price">
    <input type="text" class="text" value="" name="max_price">
  </fieldset>

  <button>Search</button>
</form>
