<form class="search" action="<%= action || request.fullpath %>" method="post">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">

  <label for="search-keywords">Keywords</label>
  <input id="search-keywords" type="search" value="" name="search[keywords]">

  <button>Search</button>
</form>
