<li class="item post-item">
  <%= link_to post.title, post %>
  <%= "#{number_to_currency(post.price)} #{post.location}" %>
  <% if can? :update, post %>
    <%= link_to "edit", edit_post_url(post) %>
  <% end %>
</li>
