/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

/* FORM RESET */

input, button {
  background: transparent;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-appearance: none;
}

input, label, button {
  display: block;
}

/* BUTTON RESET */

/* FIXME: This should probably be somewhere else. This file is included last, so these reset
 * styles might take priority over something else, and they should never do that.
 */

button,
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: auto;
}

/* CLEARFIX */

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

/* CONTAINER */

.container {
  margin: 0 auto;
  max-width: 660px;
  border: 1px solid darkgray;
  border-top: 0;
  border-bottom: 0;
}

/* HEADER */

.nav-list {
  float: right;
}

.nav-item {
  float: left;
}

.nav-item a,
.nav-item button,
.nav-item input[type="submit"] {
  color: darkgray;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item button:hover,
.nav-item input[type="submit"]:hover {
  color: black;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: "museo-sans-condensed",sans-serif;
}

.main-logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* FONT */

body {
  font-family: 'Rosario', sans-serif;
  font-size: 18px;
}

/* FORMS */

form > .submit-button {
  position: relative;
  padding: 10px;
  border-bottom: 2px solid darkblue;
  background: blue;
  color: white;
}

form > .submit-button:hover {
  background: lightblue;
  color: #eee;
}

form > .submit-button:active {
  background: darkblue;
  border-bottom: 0;
  bottom: -1px;
}
