// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* LISINGS */

.category-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.category-item a:hover {
  background: #eee;
}
