// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* LISINGS */

.category-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid darkgray;
}

.category-item:last-child a {
  border-bottom: 0;
}

.category-item a:hover {
  background: darkgray;
  color: white;
}
