.page-footer {
  color: #bdc3c7;
  background-color: #34495e;
  padding: 20px 0;
  margin-top: 20px;
  line-height: 2em;
  font-size: 12px;
  box-shadow: 0 -2px 3px black;

  a {
    color: #bdc3c7;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.footer-links {
  float: right;

  li {
    float: left;
    padding: 0 10px;
  }
}
