.search {
  fieldset, legend {
    display: inline-block;
  }

  label {
    display: none;
  }
}

.search-keywords {
  width: 510px;
  float: left;
  height: 100%;
}

.search-button {
  width: 120px;
  height: 100%;
  float: right;
  background: white;
}

.search-wrapper {
  height: 36px;
  padding: 5px;
  padding-left: 10px;
  background: #eee;
  border-radius: 3px;
}

.search-price {
  display: inline-block;
  float: left;
  margin: 10px 5px;
  width: 48px;
  height: 36px;
  background: #eee;
  padding: 0 5px;
}

.search-price-label {
  margin: 10px;
  float: left;
  height: 36px;
  line-height: 36px;
}
