<%= render partial: 'shared/search' %>

<table class="posts-table">
  <thead>
    <tr>
      <th>title</th>
      <th>price</th>
      <th>location</th>
    </tr>
  </thead>

  <tbody>
    <%= render (@posts || @category.posts) %>
  </tbody>
</table>
