<h2><%= category.escape('name') %></h2>

<form class="search clearfix" action="" method="get">
  <div class="search-wrapper clearfix">
    <label for="search-keywords">Keywords</label>
    <input id="search-keywords" class="search-keywords"
    autocomplete="off"
    type="search"
    value=""
    name="keywords">

    <button class="search-button"><span class="fa fa-search"></span></button>
  </div>
</form>
